@media only screen and (max-width: 1600px) {
  .intro{
    .intro-text{
      p{
        font-size: 20px;
      }
    }
  }
  h2{
    font-size: 42px;
    margin: 0;
  }
  h3{
    font-size: 30px;
    margin: 0;
  }
  
  h4{
    font-size: 30px;
    margin: 0;
  }
  .lab-items{
    .lab-item{
      &.active{
        h2{
          font-size: 5vw;
        }
        h3{
          font-size: 48px;
        }
        h4{
          font-size: 3vw;
        }
        .quote{
          h3{
            font-size: 50px;
            line-height: 1;
          }
          &.medium{
            h3{
              font-size: 60px;
            }
          }
          &.large{
            h3{
              font-size: 80px;
            }
          }
        }
        .content{
          p{
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .intro{
    img{
      width: 33%;
    }
    .intro-text{
      width: 66%;
      padding: 0 14px;
      flex-direction: column;
      p{
        width: 100%;
      }
    }
  }
  .lab-items{
    .lab-item{
      width: 33%;
    }
  }
  
}

@media only screen and (max-width: 900px) {
  .lab-items{
    .lab-item{
      width: 50%;
      &.active{
        h2{
          font-size: 38px;
        }
        h3{
          font-size: 30px;
        }
        p{
          font-size: 20px;
        }

        .quote{
          h3{
            font-size: 30px;
            line-height: 1;
          }
          &.medium{
            h3{
              font-size: 40px;
            }
          }
          &.large{
            h3{
              font-size: 50px;
            }
          }
        }
      }
    }
  }
  .page{
    .content{
      flex-direction: column;
    }
    img{
      width: 100%;
    }
    .text{
      width: 100%;
      padding-left: 0;
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .intro{
    flex-direction: column;
    img{
      width: 100%;
    }
    .intro-text{
      width: 100%;
      padding: 0 0px;
    }
  }
  .lab-items{
    .lab-item{
      width: 100%;
      &.active{
        flex-direction: column;
        h2{
          font-size: 38px;
        }
        h3{
          font-size: 30px;
        }
        p{
          font-size: 20px;
        }

        .quote{
          h3{
            font-size: 30px;
            line-height: 1;
          }
          &.medium{
            h3{
              font-size: 40px;
            }
          }
          &.large{
            h3{
              font-size: 50px;
            }
          }
        }
        .lab-item-cover{
          width: 100%;
          height: 40vh;
        }
        .content{
          max-height: 60vh;
          width: 100%;
          padding: 14px;
        }
      }
    }
  }
  .bios{
    padding: 14px;
  }
  .people{
    span{
      font-size: 30px;
    }
    .person{
      width: 100%;
      p{
        font-size: 20px;
      }
    }
  }
}